<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DATABASE_URL</key>
	<string>https://grid-3371d-default-rtdb.firebaseio.com/</string>
	<key>CLIENT_ID</key>
	<string>703037047459-f0g5l5bb7plg2mpr9a7kqt96jv2u4rgt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.703037047459-f0g5l5bb7plg2mpr9a7kqt96jv2u4rgt</string>
	<key>API_KEY</key>
	<string>AIzaSyArYjdfNvxBORUHABLoEgvREHFtG3nLlbU</string>
	<key>GCM_SENDER_ID</key>
	<string>703037047459</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.synducer.grid</string>
	<key>PROJECT_ID</key>
	<string>grid-3371d</string>
	<key>STORAGE_BUCKET</key>
	<string>grid-3371d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:703037047459:ios:a8388a4b9c920dce51f516</string>
</dict>
</plist>
